html {
  font-size: 1rem;

}

h1, .h1 {
  font-size: $h1-font-size;
  @include media-breakpoint-down(lg) {
    font-size:  $h2-font-size;
  }
  @include media-breakpoint-down(md) {
    font-size:  $h3-font-size;
  }
  @include media-breakpoint-down(sm) {
    font-size: $h2-font-size;
  }
}
h2, .h2 {
  font-size: $h2-font-size;
  @include media-breakpoint-down(lg) {
    font-size:  $h3-font-size;
  }
  @include media-breakpoint-down(md) {
    font-size:  $h4-font-size;
  }
}
h3, .h3 {
  font-size: $h3-font-size;
  @include media-breakpoint-down(lg) {
    font-size:  $h4-font-size;
  }
  @include media-breakpoint-down(md) {
    font-size:  $h5-font-size;
  }
  @include media-breakpoint-down(sm) {
    font-size:  $h6-font-size;
  }
}
h4, .h4 {
  font-size: $h4-font-size;
  @include media-breakpoint-down(lg) {
    font-size:  $h5-font-size;
  }
  @include media-breakpoint-down(md) {
    font-size:  $h6-font-size;
  }


}
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

// Type display classes
.display-1 {
  font-size: $display1-size;
  font-weight: $display1-weight;
  line-height: $display-line-height;
  @include media-breakpoint-down(lg) {
    font-size: $display2-size;
  }
  @include media-breakpoint-down(md) {
    font-size: $display3-size;
  }
  @include media-breakpoint-down(sm) {
    font-size: $display4-size;
  }
}
.display-2 {
  font-size: $display2-size;
  font-weight: $display2-weight;
  line-height: $display-line-height;
  @include media-breakpoint-down(lg) {
    font-size:  $display3-size;
  }
  @include media-breakpoint-down(md) {
    font-size: $display4-size;
  }
  @include media-breakpoint-down(sm) {
    font-size: $h1-font-size;
  }
}
.display-3 {
  font-size: $display3-size;
  font-weight: $display3-weight;
  line-height: $display-line-height;
  @include media-breakpoint-down(lg) {
    font-size:  $display4-size;
  }
  @include media-breakpoint-down(md) {
    font-size:  $h1-font-size;
  }
}
.display-4 {
  font-size: $display4-size;
  font-weight: $display4-weight;
  line-height: $display-line-height;
  @include media-breakpoint-down(lg) {
    font-size:  $h1-font-size;
  }
  @include media-breakpoint-down(md) {
    font-size:  $h2-font-size;
  }
  @include media-breakpoint-down(sm) {
    font-size:  $h3-font-size;
  }
}
body.disable {
  overflow: hidden;
}

.safari body {
  -webkit-text-size-adjust: none;
}

:root body:after {
  display: none;
}

.full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.scrollbar,
.scrollbarX {
  -webkit-overflow-scrolling: touch;
}

.scrollbarX {
  overflow-x: auto;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.msie .table {
  table-layout: fixed;
}

::selection {
  background: rgba(0, 0, 0, 0.6);
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.6);
}
.chrome img {
  image-rendering: -webkit-optimize-contrast;
}
button,
a {
  outline: none !important;
}

a,
a:active {
  cursor: pointer;
  text-decoration: none;
  /* behavior: expression(this.onFocus=this.blur()); */
  /* for IE */
}

a {
  -o-transition: color .50s ease-in-out;
  -webkit-transition: color .50s ease-in-out;
  -moz-transition: color .50s ease-in-out;
  transition: color .50s ease-in-out;
}

a.link,
.editor a {
  color: #555555;
}

a.link:hover,
.editor a:hover {
  border-color: #00938d;
}
img {
  max-width: 100%;
  height: auto;
  border: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


.chrome img {
  image-rendering: -webkit-optimize-contrast;
}
.wow {
  visibility: hidden;
}

.msie .wow {
  visibility: visible;
}