
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #D6000F;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        bg: 1441px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px,
        bg: 1399px
);
// Fonts
//

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);


$h1-font-size:                $font-size-base * 3;    // 48px
$h2-font-size:                $font-size-base * 2.25; // 36px
$h3-font-size:                $font-size-base * 1.75; // 28px
$h4-font-size:                $font-size-base * 1.5;  // 24px
$h5-font-size:                $font-size-base * 1.25; // 20px
$h6-font-size:                $font-size-base;

$headings-line-height:        1.2;

$display1-size:               9.3rem;   // 150px
$display2-size:               6.8rem;   // 110px;
$display3-size:               4.5rem;   // 72px
$display4-size:               3.75rem;  // 60 px

$headings-font-weight:        200;
$border-radius:               0;