
#footer {
  padding: 50px 0;
  position: relative;
  z-index: 5;
  background-color: #000;
  color: #fff;
  @include media-breakpoint-down(md) {
    padding: 30px 0 15px 0;
    text-align: center;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
  }


  .address {
    a ,p{
      color: #fff;
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.5;
      }
    }
    a.logo {
      width: 250px;
      img{
        width: 100%;
        height: auto;
      }
      @include media-breakpoint-down(xl) {
        width: 200px;
      }

    }

    .follow {
      display: inline-block;
      vertical-align: middle;
      width: 70px;
      height: 70px;
      color: #000;
      font-size: 25px;
      line-height: 70px;
      text-align: center;
      background-color: #DCDCDC;
      transition: background 0.5s;
      @include media-breakpoint-down(xl) {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
      }
      &:hover {
        background-color: #fff;
        opacity: 1;
      }
    }
  }
  .copyright {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #3A3A3A;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .fixed-tools {
    width: 100px;
    position: fixed;
    right: 65px;
    bottom: 100px;
    z-index: 10;
    @include media-breakpoint-down(lg) {
      right: 30px;
    }
    @include media-breakpoint-down(md) {
      right: 10px;
      bottom: 50px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 50px;
      right: 0;
      bottom: 0;
    }
    &.active {
      position: absolute;
      bottom: auto;
      top: -120px;
      @include media-breakpoint-down(sm) {
        margin-top: 20px;
        position: relative;
        top: auto;
      }
    }
    .toggle,
    .box,
    .goTop {
      width: 75px;
      height: 75px;
      margin: auto;
      border-radius: 50%;
      color: #fff;
      font-size: 48px;
      line-height: 75px;
      text-align: center;
      cursor: pointer;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      transition: background 0.5s, border 0.5s, color 0.5s;
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 50px;
        font-size: 35px;
        line-height: 50px;
        border-radius: 0;
      }
    }
    .toggle {
      font-size: 40px;
      line-height: 70px;
      background-color: $red;
      @include media-breakpoint-down(sm) {
        display: none; //font-size: 30px;
        //line-height: 45px;
      }
      &:hover {
        background-color: red;
      }
    }
    .goTop {
      margin-top: 10px;
      border: 3px solid $red;
      color: $red;
      font-size: 40px;
      line-height: 69px;
      background-color: #000;
      @include media-breakpoint-down(sm) {
        width: 20%;
        margin-top: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        border: none;
        line-height: 46px;
        background-color: $red;
        color: #000;
      }
      &:hover {
        @include media-breakpoint-up(md) {
          border-color: red;
          color: red;
        }
      }
    }
    ul {
      width: 100px;
      position: absolute;
      right: 0;
      bottom: 160px;
      @include media-breakpoint-down(sm) {
        display: block !important;
        width: 100%;
        position: relative;
        bottom: 0;
      }
      li {
        margin: 10px 0 -75px 0;
        @include media-breakpoint-up(sm) {
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.5s, visibility 0.5s, margin-bottom 0.5s;
        }
        @include media-breakpoint-down(sm) {
          float: left;
          width: 20%;
          margin: 0;
        }
        &:nth-of-type(3) {
          animation-delay: 0.3s
        }
        &:nth-of-type(2) {
          animation-delay: 0.6s
        }
        &:nth-of-type(1) {
          animation-delay: 0.9s
        }
        .box {
          display: block;
          opacity: 1;
          &.messenger {
            background-color: #0085FF;
            &:hover {
              background-color: #2C9AFF;
            }
          }
          &.skype {
            background-color: #00B0F0;
            &:hover {
              background-color: #10BFFF;
            }
          }
          &.line {
            background-color: #00C200;
            &:hover {
              background-color: #00DF00;
            }
          }
          &.wechat {
            font-size: 35px;
            background-color: #3cb034;
            @include media-breakpoint-down(sm) {
              font-size: 30px;
            }
            &:hover {
              background-color: #00C200;
            }
          }
          @include media-breakpoint-down(sm) {
            background-color: #000 !important;
            color: $red;
          }
        }
      }
      &.show {
        li {
          margin-bottom: 10px;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}