
.header-light {
  #header {
    .logo {
      a {
        background-image: url("../images/logo.png"); // filter: drop-shadow(5px 5px 10px #000);
      }
    }
    a.tel {
      color: #fff;
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
    .menu-toggle {
      div {
        @include media-breakpoint-up(md) {
          background-color: #fff;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        }
      }
    }
    &.active {
      @include media-breakpoint-up(md) {
      .logo {
        a {
          background-image: url("../images/logo2.png"); // filter: none;
        }
      }}
      .menu-toggle {
        div {
          background-color: #777777;
          box-shadow: none;
        }
      }
    }
  }
}

#header {
  width: 100%;
  min-width: 320px;
  height: 0;
  padding: 65px 90px 0 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  visibility: hidden;
  animation-delay: 0.3s;
  transition: height 0.5s ease 0.3s, background 0.5s ease 0.3s;
  @include media-breakpoint-up(md) {
    transition: height 0.5s ease 0.3s, background 0.5s ease 0.3s, padding 0.5s ease;
  }
  @include media-breakpoint-down(lg) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include media-breakpoint-down(md) {
    height: 90px;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  @include media-breakpoint-down(sm) {
    height: 70px;
    padding: 15px 20px;
  }
  @include media-breakpoint-down(xs){
    padding-right: 10px;
  }
  .logo {
    float: left;
    width: 250px;
    height: 60px;
    margin-left: -5px;
    overflow: hidden;
    @include media-breakpoint-down(md) {
      transition: width 0.5s;
    }
    @include media-breakpoint-down(sm) {
      width: 220px;
      margin-top: -3px;
    }
    @include media-breakpoint-down(xs) {
      width: 200px;
    }
    a {
      display: block;
      width: 250px;
      height: 100%;
      position: relative;
      background: url("../images/logo2.png") left top no-repeat;
      background-size: contain;
      overflow: hidden;
      transition: background 0.5s ease;
      @include media-breakpoint-down(md) {
        background-image: url(../images/logo.png);
      }
      @include media-breakpoint-down(sm) {
        width: 180px;
        background-position: center 38%;
      } // .max-ss-size & {
      //     width: 200px;
      // }
      .chrome & {
        image-rendering: -webkit-optimize-contrast;
      }
    }
  }
  .menu-toggle {
    float: right;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    transition: transform 0.5s;
    @include media-breakpoint-down(sm) {
      margin-top: -5px;
    }
    div {
      width: 36px;
      height: 4px;
      position: absolute;
      left: 7px;
      background-color: $red;
      transition: all 0.5s ease;
      &.bar1 {
        top: 14px;
      }
      &.bar2 {
        top: 23px;
      }
      &.bar3 {
        top: 32px;
      }
    }
  }
  a.tel {
    display: none;
    position: absolute;
    right: 100px;
    top: 30px;
    color: #000;
    font-size: 35px;
    line-height: 50px;
    transition: color 0.5s, text-shadow 0.5s;
    @include media-breakpoint-down(md) {
      display: block;
      color: #fff;
      top: 20px;
    }
    @include media-breakpoint-down(sm) {
      right: 80px;
      top: 10px;
    }
    @include media-breakpoint-down(xs) {
      right: 70px;
    }
  }
  .menu {
    padding-right: 100px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    @include media-breakpoint-down(lg) {
      padding-right: 0;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      max-height: 500px;
      max-height: -moz-calc(100vh - 100px);
      max-height: -webkit-calc(100vh - 100px);
      max-height: calc(100vh - 100px);
      padding-top: 30px;
      text-align: center;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .mCSB_inside>.mCSB_container {
      padding-right: 0;
    }
    &:before,
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .list {
      display: table;
      width: 100%;
      @include media-breakpoint-up(md) {
        float: left;
        width: -moz-calc(100% - 430px);
        width: -webkit-calc(100% - 430px);
        width: calc(100% - 430px);
      }
      .middle {
        @include media-breakpoint-down(md) {
          display: block; // height: -moz-calc(100vh - 150px);
          // height: -webkit-calc(100vh - 150px);
          // height: calc(100vh - 150px);
        }
      }
      ul {
        @include media-breakpoint-up(md) {
          height: 200px;
        }
        li {
          opacity: 0;
          transform: translateY(20px);
          transition: opacity 0.5s, transform 0.5s;
          overflow: hidden;
          @include media-breakpoint-up(md) {
            display: inline-block;
            vertical-align: middle;
          }
          a {
            display: block;
            padding: 30px;
            color: #000;
            font-size: 30px;
            font-weight: bold;
            font-family: "Poppins";
            overflow: hidden;
            @include media-breakpoint-down(lg) {
              padding: 10px;
            }
            @include media-breakpoint-down(md) {
              padding: 30px;
              color: #fff;
            }
            @include media-breakpoint-down(sm) {
              padding: 20px;
            }
            &:after {
              @include media-breakpoint-up(md) {
                content: "";
                background: #fff;
                height: 300%;
                left: -70px;
                opacity: .4;
                position: absolute;
                top: -100%;
                transform: rotate(35deg);
                transition: left 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
                width: 50px;
                z-index: 10;
              }
            }
            &:hover {
              color: $red;
              &:after {
                left: 120%;
                transition: left 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
              }
            }
          }
          &.active {
            a {
              color: $red;
            }
          }
        }
      }
    }
    .view {
      width: 430px;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s, transform 0.5s;
      @include media-breakpoint-up(md) {
        float: right;
      }
      @include media-breakpoint-down(md) {
        display: none;
      }
      .slider-pic,
      .text {
        display: inline-block;
        vertical-align: bottom;
      }
      .slider-pic {
        width: 250px;
        margin-right: 20px;
        margin-bottom: 0;
        a {
          display: block;
          overflow: hidden;
        }
        .pic {
          display: block;
          height: 200px;
          transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
          &:hover {
            transform: scale(1.05) rotate(0.2deg);
          }
        }
      }
      .text {
        text-align: center;
        a {
          display: block;
          padding-right: 60px;
          position: relative;
          &:after {
            content: url("../images/icon-arrow.png");
            position: absolute;
            right: 0;
            bottom: 0;
            animation: fadeOutLeft 1s linear infinite alternate;
          }
          span {
            display: block;
          }
          .title {
            margin-bottom: 15px;
            padding-bottom: 15px;
            color: #000;
            font-size: 18px;
            border-bottom: 2px solid #000;
            transition: border-color 0.5s, color 0.5s;
          }
          .eng2 {
            color: #666666;
            font-size: 16px;
            transition: color 0.5s;
          }
          &:hover {
            .title {
              color: $red;
              border-color: $red;
            }
            .eng2 {
              color: $red;
            }
          }
        }
      }
    }
  }
  &.pack-up {
    @include media-breakpoint-up(md) {
      padding: 30px 30px 0 30px;
    } // .logo {
    //     @include media-breakpoint-down(sm) {
    //         width: 45px;
    //     }
    //     .max-ss-size & {
    //         width: 40px;
    //     }
    // }
  }
  &.active {
    height: 400px;
    transition: height 0.5s ease, background 0.5s ease;
    @include media-breakpoint-up(md) {
      padding: 65px 90px 0 90px;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      transition: height 0.5s ease, background 0.5s ease, padding 0.5s ease;
    }
    @include media-breakpoint-down(md) {
      height: 600px;
      background-color: rgba(0, 0, 0, 0.9);
    }
    @include media-breakpoint-down(sm) {
      height: 450px;
    }
    .logo {
      @include media-breakpoint-down(sm) {
        width: 220px;
      }
      a {
        &:after {
          @include media-breakpoint-up(md) {
          content: "";
          background: #fff;
          height: 300%;
          left: -70px;
          opacity: .4;
          position: absolute;
          top: -100%;
          transform: rotate(35deg);
          transition: left 550ms cubic-bezier(0.165, 0.84, 0.44, 1);
          width: 50px;
          z-index: 10;}
        }
        &:hover {
          &:after {
            left: 120%;
            transition: left 550ms cubic-bezier(0.165, 0.84, 0.44, 1);
          }
        } // @include media-breakpoint-down(sm) {
        //     background-image: url("../images/logo2.png");
        // }
      }
    }
    .menu-toggle {
      transform: rotate(90deg);
      div {
        width: 29px;
        left: 10px;
        background-color: #777777;
        box-shadow: none;
        @include media-breakpoint-down(md) {
          background-color: $red;
        }
      }
    }
    a.tel {
      color: $red;
      text-shadow: none;
      @include media-breakpoint-down(md) {
        color: #fff;
      }
    }
    .menu {
      opacity: 1;
      visibility: visible;
      .mCSB_inside>.mCSB_container {
        margin: 0;
      }
      .list {
        ul {
          li {
            opacity: 1;
            transform: translateY(0);
            &:nth-of-type(2) {
              transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
              transition-delay: 0.2s;
            }
            &:nth-of-type(3) {
              transition-delay: 0.3s;
            }
            &:nth-of-type(4) {
              transition-delay: 0.4s;
            }
            &:nth-of-type(5) {
              transition-delay: 0.5s;
            }
          }
        }
      }
      .view {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.6s;
      }
    }
  }
}
