
/* ==========================================================================
    public
 ========================================================================== */

html,
body {
  margin: 0;
  padding: 0;
  height: 100.1%;
}

body {
  height: 100.1% !important;
  overflow-x: hidden;
  font-family: Heiti TC, Microsoft JhengHei, "微軟正黑體", Verdana;
  color: #777777;
  font-size: 18px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  /* -webkit-backface-visibility: hidden; */
}




body:after {
  display: block;
  content: "We're sorry! this website does not support your browser, please upgrade your browser, thank you.";
  position: fixed;
  z-index: 100000000000000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  padding: 50px;
  background-color: #fff;
  text-align: center;
  font-size: 20px;
  color: #3f3f3f;
}

.wp {
  min-width: 320px;
  overflow: hidden;
  background-color: #fff;
}




.bling {
  &:after {
    content: "";
    background: #fff;
    height: 300%;
    left: -70px;
    opacity: .2;
    position: absolute;
    top: -100%;
    transform: rotate(35deg);
    transition: left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 50px;
    z-index: 10;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    &:after {
      left: 120%;
      transition: left 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}
.video-box {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 63%;
  margin-top: 30px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.eng {
  font-family: 'Hind Vadodara';
  line-height: 1em;
}

.eng2 {
  font-family: 'Poppins';
}
.button {
  display: inline-block;
  min-width: 240px;
  padding: 10px 20px;
  position: relative;
  border-radius: 5px;
  background: rgb(143, 0, 10);
  background: -moz-linear-gradient(-45deg, rgba(143, 0, 10, 1) 0%, rgba(212, 0, 15, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(143, 0, 10, 1) 0%, rgba(212, 0, 15, 1) 100%);
  background: linear-gradient(135deg, rgba(143, 0, 10, 1) 0%, rgba(212, 0, 15, 1) 100%);
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-family: 'Hind Vadodara';
  overflow: hidden;
}

.button2 {
  display: inline-block;
  min-width: 240px;
  padding: 10px 20px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #949494;
  color: #333;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
  transition: color 0.5s, background 0.5s, border 0.5s;
  &:hover {
    background-color: $red;
    border-color: $red;
    color: #fff;
  }
}



.big-button {
  display: inline-block;
  max-width: 420px;
  width: 100%;
  padding: 30px 20px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 30px;
  color: #fff;
  font-family: 'Hind Vadodara';
  text-align: center;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    max-width: 300px;
    padding: 20px;
    font-size: 25px;
  }
  @include media-breakpoint-down(sm) {
    max-width: 240px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 30px;
  }
}

.wp {
  &.bg-black {
    background-color: #000;
  }
}

.tlt,
.tlt-loop {
  opacity: 0;
}
/* page scroll animation */

.fade-in {
  opacity: 0;
  transition: opacity 1s;
  &.show {
    opacity: 1;
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-down {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s, transform 1s;
  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s, transform 1s;
  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 1s, transform 1s;
  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-zoom {
  opacity: 0 !important;
  transform: scale(0.8);
  transition: opacity 1s, transform 1s;
  &.show {
    opacity: 1 !important;
    transform: scale(1);
  }
}
.open-box {
  cursor: -webkit-zoom-in;
}

.fixed-box {
  width: 100%;
  min-width: 320px;
  height: 0%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s, visibility 0.5s, height 0s 0.5s;
  &.show {
    height: 100%;
    padding: 30px 0;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 0.5s, visibility 0.5s;
  }
  .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: #000;
    opacity: 0.8;
  }
  .close {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    right: -25px;
    top: -25px;
    z-index: 10;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    background-color: $red;
    transition: background 0.5s;
    @include media-breakpoint-down(sm) {
      width: 40px;
      height: 40px;
      right: 10px;
      top: 10px;
      font-size: 25px;
      line-height: 40px;
    }
    &:hover {
      background-color: red;
    }
  }
  .inner {
    width: 500px;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
    background-color: #fff;
    color: #000;
    text-align: center;
    @include media-breakpoint-down(lg) {
      padding: 50px 10px 30px 30px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      padding-top: 30px;
    }
    .scrollbar {
      max-height: 96vh;
      overflow: auto;
      .touch & {
        max-height: 86vh;
      }
      .mCSB_inside>.mCSB_container {
        margin: 0;
        padding-right: 20px;
      }
    }
    .pic {
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
      }
    }
  }
}

#zoom-pic {
  background-color: rgba(0, 0, 0, 0.8);
  .close {
    right: 0;
    top: 10px;
  }
  .inner {
    width: 100%;
    background-color: transparent;
    cursor: -webkit-zoom-out;
    @include media-breakpoint-up(lg) {
      padding: 30px 5px 30px 30px;
    }
  }
}

#qrcode {
  img {
    max-height: 50vh;
  }
}
