
.icon-mail:before { content: '\e800'; } /* '' */
.icon-more:before { content: '\e801'; } /* '' */
.icon-message:before { content: '\e802'; } /* '' */
.icon-skype:before { content: '\e803'; } /* '' */
.icon-line:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-map:before { content: '\e806'; } /* '' */
.icon-up:before { content: '\e810'; } /* '' */
.icon-plus:before { content: '\e816'; } /* '' */
.icon-close:before { content: '\e819'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook2:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-comment:before { content: '\f27a'; } /* '' */