@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?45497735');
  src: url('../font/fontello.eot?45497735#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?45497735') format('woff2'),
       url('../font/fontello.woff?45497735') format('woff'),
       url('../font/fontello.ttf?45497735') format('truetype'),
       url('../font/fontello.svg?45497735#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?45497735#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  /* width: 1em; */
  /* margin-right: .2em; */
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  /* line-height: 1em; */
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin: auto;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\e800'; } /* '' */
.icon-more:before { content: '\e801'; } /* '' */
.icon-message:before { content: '\e802'; } /* '' */
.icon-skype:before { content: '\e803'; } /* '' */
.icon-line:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-map:before { content: '\e806'; } /* '' */
.icon-up:before { content: '\e810'; } /* '' */
.icon-plus:before { content: '\e816'; } /* '' */
.icon-close:before { content: '\e819'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook2:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-comment:before { content: '\f27a'; } /* '' */