
/* ==========================================================================
    about
 ==========================================================================*/

.slogan-info {
  &.gray-bg {
    background: rgb(254, 254, 254);
    background: -moz-radial-gradient(center, ellipse cover, rgba(254, 254, 254, 1) 0%, rgba(217, 217, 217, 1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(254, 254, 254, 1) 0%, rgba(217, 217, 217, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(254, 254, 254, 1) 0%, rgba(217, 217, 217, 1) 100%);
  }
  .container {
    display: table;
    width: 100%;
    position: relative;
    text-align: center;
    .middle {
      height: 850px;
      height: 44.5vw;
      padding: 100px 0;
      position: relative;
      z-index: 2;
    }
  }
  .decoration {
    div {
      position: absolute;
      background: center no-repeat;
      background-size: contain;
    }
    .left-tri {
      width: 315px;
      height: 270px;
      margin-top: -135px;
      left: 10%;
      top: 50%;
      background-image: url("../images/about/left-tri.png");
      @include media-breakpoint-down(md) {
        width: 250px;
        left: -10%;
      }
      @include media-breakpoint-down(sm) {
        width: 150px;
      }
    }
    .right-line {
      width: 525px;
      height: 805px;
      right: 10%;
      top: 0;
      background-image: url("../images/about/right-line.png");
      @include media-breakpoint-down(sm) {
        height: 100%;
        right: -30%;
      }
    }
    .right-tri {
      width: 366px;
      height: 316px;
      margin-top: -158px;
      right: 0;
      top: 60%;
      background-image: url("../images/about/right-tri.png");
      @include media-breakpoint-down(md) {
        width: 280px;
        right: -10%;
      }
      @include media-breakpoint-down(sm) {
        width: 180px;
      }
      .sub-tri {
        width: 195px;
        height: 170px;
        right: 0;
        top: 100px;
        background-image: url("../images/about/sub-tri.png");
        @include media-breakpoint-down(md) {
          width: 150px;
          right: 30px;
        }
        @include media-breakpoint-down(sm) {
          width: 100px;
          right: 0;
        }
      }
    }
    .bottom-line {
      width: 136px;
      height: 52px;
      margin-left: -68px;
      left: 50%;
      bottom: 100px;
      background-image: url("../images/about/bottom-line.png");
      @include media-breakpoint-down(sm) {
        width: 100px;
        margin-left: -50px;
        bottom: 30px;
      }
    }
  }
  .title {
    color: $red;
  }
  .cn {
    margin-top: 50px;
    color: #000;
    @include media-breakpoint-down(sm) {
      margin-top: 30px;
    }
  }
  .text {
    margin-top: 50px;
    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }
}

.we-do {
  padding: 100px 0;
  position: relative;
  z-index: 2;
  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }
  .top {
    display: table;
    position: relative;
    z-index: 2;
    padding: 0 50px;
    @include media-breakpoint-down(md) {
      padding: 0 30px;
    }
    .ipad {
      float: left;
      width: 80%;
      margin-top: -24vw;
      margin-right: -50px;
      position: relative;
      @include media-breakpoint-down(md) {
        float: none;
        width: 100%;
        margin: 30px 0;
        text-align: center;
      }
      .pic {
        position: relative;
        z-index: 2;
      }
      .tri {
        width: 315px;
        height: 270px;
        position: absolute;
        right: 10%;
        bottom: 0;
        background: url("../images/about/ipad-tri.png") center no-repeat;
        background-size: contain;
        @include media-breakpoint-down(md) {
          width: 200px;
          height: 170px;
        }
      }
    }
    .title {
      float: right;
      margin: 0;
      position: relative;
      z-index: 3;
      color: #000;
      font-weight: bold;
      @include media-breakpoint-down(md) {
        float: none;
        text-align: center;
      }
      &>span {
        display: block;
        &:nth-of-type(2) {
          transition-delay: 0.1s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.2s;
        }
      }
    }
  }
  .article {
    @include media-breakpoint-down(md) {
      margin-top: 50px;
    }
    .container {
      position: relative;
    }
    .tir {
      width: 720px;
      height: 625px;
      position: absolute;
      left: -200px;
      bottom: 200px;
      z-index: 2;
      background: url("../images/about/we-do-tri.png") center no-repeat;
      background-size: contain;
      @include media-breakpoint-down(md) {
        width: 300px;
        height: 250px;
        left: -80px;
        bottom: 100px;
      }
      @include media-breakpoint-down(sm) {
        width: 200px;
        height: 180px;
      }
    }
    ul.list {
      margin-top: -100px;
      line-height: 1.8em;
      &>li {
        position: relative;
        .pic {
          height: 500px;
          height: 55vw;
          @include media-breakpoint-up(md) {
            width: 50%;
            height: 100%;
            position: absolute;
          }
          @include media-breakpoint-down(md) {
            position: relative;
          }
        }
        &:nth-of-type(odd) {
          @include media-breakpoint-up(md) {
            margin-bottom: -100px;
            padding-right: 50%;
          }
          .text {
            padding: 100px 100px 200px 50px;
            @include media-breakpoint-down(lg) {
              padding: 50px 50px 150px 50px;
            }
            @include media-breakpoint-down(md) {
              padding: 50px 0;
            }
            @include media-breakpoint-down(sm) {
              padding: 30px 0;
            }
          }
          .pic {
            right: 0;
            left: auto;
          }
        }
        &:nth-of-type(even) {
          @include media-breakpoint-up(md) {
            padding-left: 50%;
          }
          .text {
            padding: 200px 50px 100px 100px;
            @include media-breakpoint-down(lg) {
              padding: 150px 50px 50px 50px;
            }
            @include media-breakpoint-down(md) {
              padding: 50px 0;
            }
            @include media-breakpoint-down(sm) {
              padding: 30px 0;
            }
          }
        }
      }
    }
    .word {
      max-width: 1200px;
      margin: 150px auto 0 auto;
      color: #424242;
      text-align: center;
      font-weight: bold;
      @include media-breakpoint-down(lg) {
        margin-top: 100px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 50px;
      }
    }
  }
}

.our-service {
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: #000;
    opacity: 0.7;
  }
  .bg {
    z-index: 1;
    .move {
      height: 150%;
    }
  }
  .container {
    display: table;
    width: 100%;
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    .middle {
      height: 600px;
      height: 31.5vw;
      padding: 100px 0;
      @include media-breakpoint-down(md) {
        padding: 50px 0;
      }
    }
  }
  .title {
    font-weight: bold;
  }
  .text {
    margin: 30px 0 50px 0;
    @include media-breakpoint-down(sm) {
      margin: 10px 0 20px 0;
    }
  }
}

.our-team {
  padding: 100px 0;
  position: relative;
  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: #000;
    opacity: 0.7;
  }
  .bg {
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
  }
  .title {
    font-weight: bold;
  }
  .sub {
    margin-top: 30px;
    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }
  }
  ul.photos {
    margin: 50px 0 80px 0;
    font-size: 0;
    text-align: left;
    @include media-breakpoint-down(md) {
      margin-bottom: 50px;
    }
    @include media-breakpoint-down(sm) {
      margin: 30px 0;
    }
    &>li {
      display: inline-block;
      vertical-align: middle;
      width: 12.5%;
      position: relative;
      opacity: 0;
      transition: opacity 1s;
      @include media-breakpoint-down(lg) {
        width: 16.6%;
      }
      @include media-breakpoint-down(xs) {
        width: 25%;
      }
      &.show {
        opacity: 1;
      }
      .pic {
        height: 180px;
        height: 11vw;
        transition: transform 0.5s;
        @include media-breakpoint-down(lg) {
          height: 15vw;
        }
        @include media-breakpoint-down(xs) {
          height: 20vw;
        }
      }
      &:hover {
        z-index: 2;
        .pic {
          transform: scale(1.2) rotate(0.2deg);
        }
      }
    }
  }
  .big-button {
    margin-top: 50px;
    @include media-breakpoint-down(sm) {
      margin-top: 30px;
    }
    &:after {
      left: -100px;
    }
    &:hover:after {
      left: 120%;
    }
  }
}
