
/* ==========================================================================
    contact
 ==========================================================================*/

.dark-banner {
  position: relative;
  background-color: #000;
  color: #fff;
  text-align: center;
  .bg {
    z-index: 1;
    opacity: 0.2;
    overflow: hidden;
    .move {
      width: 100%;
      height: 110%;
      @include media-breakpoint-down(sm) {
        height: 100%;
      }
    }
  }
  .container {
    display: table;
    width: 100%;
    position: relative;
    z-index: 2;
    .middle {
      height: 600px;
      height: 31.2vw;
      padding: 150px 0 100px 0;
      @include media-breakpoint-down(sm) {
        padding: 100px 0 50px 0;
      }
    }
  }
  .title {
    color: $red;
  }
  .text {
    max-width: 620px;
    margin: 50px auto 0 auto;
    line-height: 1.8em;
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      line-height: 1.5em;
    }
  }
}

.form-block {
  padding: 100px 0;
  @include media-breakpoint-down(sm) {
    padding: 50px 0;
  }
  .container {
    max-width: 1100px;
  }
  .g-recaptcha {
    div{
      @include media-breakpoint-down(sm) {
        margin: auto;
      }
    }

  }

  .buttonBlock {
    @include media-breakpoint-up(sm) {
      padding-left: 100px;
    }

  }
}

.map {
  height: 500px;
  @include media-breakpoint-down(sm) {
    height: 300px;
  }
  .labels {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
/* form */

.form .group {
  margin-bottom: 20px;
}

.form .red {
  color: #e60012;
}

input,
select,
button,
textarea {
  font-family: Arial, Verdana, "Heiti TC", "Microsoft JhengHei", 微軟正黑體;
}

textarea {
  resize: none;
}

.form .group {
  margin-bottom: 5px;
}

.form .group {
  @include media-breakpoint-down(sm) {
    margin-bottom: 15px;
  }
}

.form .group:after {
  content: '';
  display: block;
  clear: both;
}

.form .group.error .form-control {
  border-color: #e60012;
}

.form .group.error .label {
  color: #e60012;
}

.form .label {
  float: left;
  width: 110px;
  padding: 10px;
  color: #555555;
  line-height: 30px;
}

.form .label {
  @include media-breakpoint-down(sm) {
    float: none;
    width: auto;
  }
}

.form .form-control {
  width: 100%;
  height: 65px;
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid #DBDBDB;
  border-radius: 0;
  color: #555;
  font-size: 16px;
  transition: border 0.5s, background 0.5s;
}

.form .form-control {
  @include media-breakpoint-down(sm) {
    height: 40px;
    font-size: 16px;
    background-color: #f3f3f3;
  }
}

.form textarea.form-control {
  height: auto !important;
  padding: 20px;
}

.form .right {
  float: left;
  width: -moz-calc(100% - 110px);
  width: -webkit-calc(100% - 110px);
  width: calc(100% - 110px);
}

.form .right {
  @include media-breakpoint-down(sm) {
    float: none;
    width: 100%;
  }
}

.form .form-control:hover {
  border-color: #555;
}

.form .form-control:focus {
  border-color: #000;
  outline: 0;
  background-color: #f3f3f3;
}

.buttonBlock {
  margin-top: 30px;
}

.buttonBlock {
  @include media-breakpoint-down(sm) {
    margin-top: 15px;
  }
}

::-webkit-input-placeholder {
  color: #9B9B9B;
}

::-moz-placeholder {
  color: #9B9B9B;
}

::-o-placeholder {
  color: #9B9B9B;
}

::-ms-placeholder {
  color: #9B9B9B;
}

::-ms-input-placeholder {
  color: #9B9B9B;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/select-tri.png) center right 20px no-repeat;
}

select::-ms-expand {
  display: none !important;
}
