
/* ==========================================================================
    index
 ==========================================================================*/
.mb_YTPBar {
  //display: none !important;
}

.bg-video {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  .pic {
    height: 100%;
  }
  .touch & {
    display: block !important;
  }
  video,.video{

  }
}

.home-banner {
  min-height: 100vh;
  padding: 300px 0 150px 0;
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
  @include media-breakpoint-down(lg) {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  @include media-breakpoint-down(md) {
    min-height: 0;
    padding-bottom: 50px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 120px;
  }
  .triangles {
    width: 100%;
    height: 1919px;
    height: 100vw;
    position: absolute;
    right: 0;
    top: -100px;
    z-index: 1;
    @include media-breakpoint-down(md) {
      top: -30px;
    }
    div {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: center no-repeat;
      background-size: contain;
    }
    .top {
      background-image: url("../images/home/tri-top.png");
    }
    .right {
      background-image: url("../images/home/tri-right.png");
    }
    .left {
      background-image: url("../images/home/tri-left.png");
    }
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .title {
    max-width: 1100px;
    margin: auto;
    position: relative;
    z-index: 3;
    font-weight: bolder;
  }
  .slider {
    margin-top: -50px;
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
    .slick-track {
      display: inline-flex;
      align-items: center;
    }
    img {
      margin: auto;
      max-height: 850px;
      max-width: 90%;
      @include media-breakpoint-down(xs) {
        max-width: 100%;
      }
    }
  }
  .text {
    margin-top: 50px;
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }
}


.project {
  position: relative;
  z-index: 4;
  ul.list {
    width: 100%;
    @include media-breakpoint-down(md) {
      display: inline-flex;
      align-content: stretch;
      flex-wrap: wrap;
    }
    &>li {
      float: left;
      width: 50%;
      opacity: 0;
      transform: scale(0.8);
      transition: opacity 1s, transform 1s;
      @include media-breakpoint-down(md) {
        display: flex;
      }
      @include media-breakpoint-down(xs) {
        width: 100%;
      }
      &.show {
        transform: scale(1);
        opacity: 1;
      }
      .box {
        display: block;
        width: 100%;
        position: relative;
        background: rgba(0, 0, 0, 0.8) url("../images/logo.png") center no-repeat;
        background-size: 200px;
        &:before,
        &:after {
          @include media-breakpoint-up(md) {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            position: absolute;
            background-color: $red;
            z-index: 2;
            opacity: 0;
            transition: all 0.8s;
          }
        }
        &:before {
          left: 0;
          top: 0;
        }
        &:after {
          right: 0;
          bottom: 0;
        }
        @include media-breakpoint-down(md) {
          background-color: rgba(0, 0, 0, 0.8);
        }
        span {
          display: block;
        }

        .box-line {
          &:before,
          &:after {
            @include media-breakpoint-up(md) {
              content: '';
              display: block;
              width: 3px;
              height: 0;
              position: absolute;
              background-color: $red;
              z-index: 2;
              opacity: 0;
              transition: all 0.8s;
            }
          }
          &:before {
            left: 0;
            top: 0;
          }
          &:after {
            right: 0;
            bottom: 0;
          }
        }
        .pic {
          height: 480px;
          height: 25vw;
          min-height: 300px;
          &:before {
            @include media-breakpoint-up(md) {
              content: '';
              display: block;
              width: 100%;
              height: 0;
              position: absolute;
              left: 0;
              top: 50%;
              z-index: 1;
              background: #000;
              opacity: 0;
              transition: all 0.5s 0.3s;
            }
          }
        }
        .text {
          width: 100%;
          color: #fff;
          padding: 20px 10px;
          text-align: center;
          @include media-breakpoint-up(md) {
            max-height: 25vw;
            position: absolute;
            left: 0;
            top: 50%;
            bottom: auto;
            z-index: 3;
            transform: translateY(-50%);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s, visibility 0.5s;
            overflow: auto;
          }
          //.mCSB_inside>.mCSB_container {
          //  padding: 10px 20px;
          //}
          .name {
            margin: 0;
            @include media-breakpoint-up(md) {
              transform: translateY(-20px);
              transition: transform 0.5s;
            }
          }
          .summary {
            //min-height: 7.2em;
            margin-top: 20px;
            line-height: 1.8em;
            @include media-breakpoint-up(md) {
              transform: translateY(-20px);
              transition: transform 0.5s;
            }
            @include media-breakpoint-down(lg) {
              min-height: 0;
              margin-top: 10px;
            }
          }
          .btn {
            display: inline-block;
            vertical-align: middle;
            width: 70px;
            height: 70px;
            margin-top: 20px;
            position: relative;
            border: 1px solid $red;
            transition: background 0.5s, transform 0.5s;
            overflow: hidden;
            font-size: 35px;
            line-height: 68px;

            @include media-breakpoint-up(md) {
              transform: translateY(20px);
            }
            @include media-breakpoint-down(lg) {
              width: 50px;
              height: 50px;
              line-height: 48px;
            }
            &:after {
              content: "";
              background: #fff;
              height: 300%;
              left: -100px;
              opacity: .2;
              position: absolute;
              top: -100%;
              transform: rotate(35deg);
              transition: left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
              width: 50px;
              z-index: 10;
            } // i {
            //     display: block;
            //     width: 100%;
            //     height: 100%;
            //     background: url("../images/icon-plus.png") center no-repeat;
            // }
            &:hover {
              background-color: $red;
              &:after {
                left: 150%;
                transition: left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
              }
            }
          }
        }
        &:hover {
          @include media-breakpoint-up(md) {
            &:before,
            &:after {
              width: 100%;
              opacity: 1;
              transition: all 0.6s 0.6s;
            }
            .box-line {
              &:before,
              &:after {
                height: 100%;
                opacity: 1;
                transition: all 0.6s 0.6s;
              }
            }
            .pic {
              &:before {
                height: 100%;
                top: 0;
                opacity: 0.8;
                transition: all 0.5s;
              }
            }
            .text {
              opacity: 1;
              visibility: visible;
              transition-delay: 0.4s;
              .name {
                transform: translateY(0);
                transition-delay: 0.4s;
              }
              .summary {
                transform: translateY(0);
                transition-delay: 0.3s;
              }
              .btn {
                transform: translateY(0);
                transition: background 0.5s, transform 0.5s 0.5s;
              }
            }
          }
        }
      }
      @include media-breakpoint-up(md) {
        &:nth-of-type(10n-9),
        &:nth-of-type(10n-8),
        &:nth-of-type(10n-4),
        &:nth-of-type(10n) {
          .pic {
            background-position: 50% 40% !important;
          }
        }
        &:nth-of-type(10n-8),
        &:nth-of-type(10n-6),
        &:nth-of-type(10n-1) {
          transition-delay: 0.3s;
        }
        &:nth-of-type(10n-7),
        &:nth-of-type(10n-6),
        &:nth-of-type(10n-2),
        &:nth-of-type(10n-1) {
          width: 25%;
        }
        &:nth-of-type(10n-5) {
          float: right;
          .text {
            max-height: 50vw;
          }
          .box {
            .pic {
              height: 960px;
              height: 50vw;
              min-height: 600px;
            }
          }
        } // &:nth-of-type(10n-4) {
        //     margin-top: -480px;
        //     margin-top: -25vw;
        // }
        &:nth-of-type(10n-3) {
          .text {
            max-height: 50vw;
          }
          .box {
            .pic {
              height: 960px;
              height: 50vw;
              min-height: 600px;
            }
          }
        }
      }
    }
  }
}


.vision {
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
  background-color: #151515;
  .bg {
    overflow: hidden;
    .move {
      height: 100%;
      @include media-breakpoint-down(lg) {
        height: 150%;
      }
      .touch & {
        height: 100%;
      }
    }
  }
  .no-touch & {
    background-attachment: fixed;
  }
  .info {
    padding: 100px 0;
    @include media-breakpoint-down(sm) {
      padding: 50px 0;
    }

    a.buton {
      margin: auto;
    }
    .title {
      margin-top: 100px;
      font-weight: bold;
      @include media-breakpoint-down(md) {
        margin-top: 50px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 200px;
        margin: 30px auto;
      }
    }
    .text {
      margin-top: 30px;
    }
  }
  .block {
    position: relative;
    z-index: 2;
    .container {
      padding: 0 50px;
      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }
    .table-box {
      .table-tr {
        @include media-breakpoint-down(xs) {
          display: inline-flex;
          align-content: stretch;
          flex-wrap: wrap;
        }
      }
      .table-td {
        height: 250px;
        padding: 30px;
        @include media-breakpoint-down(lg) {
          height: 200px;
        }
        @include media-breakpoint-down(sm) {
          height: auto;
          padding: 20px !important;
        }
        @include media-breakpoint-down(xs) {
          width: 50%;
        }
      }
      .item {
        width: 25%;
        background: rgb(144, 0, 10);
        background: -moz-linear-gradient(left, rgba(144, 0, 10, 1) 0%, rgba(184, 0, 13, 1) 100%);
        background: -webkit-linear-gradient(left, rgba(144, 0, 10, 1) 0%, rgba(184, 0, 13, 1) 100%);
        background: linear-gradient(to right, rgba(144, 0, 10, 1) 0%, rgba(184, 0, 13, 1) 100%);
        @include media-breakpoint-down(xs) {
          order: 1;
        }
        &.has-shadow {
          position: relative;
          background: rgb(184, 0, 13);
          background: -moz-linear-gradient(left, rgba(184, 0, 13, 1) 0%, rgba(213, 0, 15, 1) 100%);
          background: -webkit-linear-gradient(left, rgba(184, 0, 13, 1) 0%, rgba(213, 0, 15, 1) 100%);
          background: linear-gradient(to right, rgba(184, 0, 13, 1) 0%, rgba(213, 0, 15, 1) 100%);
          &:before {
            content: '';
            display: block;
            width: 70px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: url("../images/home/vision-item.png") left center no-repeat;
          }
        }
        .total {
          font-size: 30px;
        }
        .sub {
          margin-top: 20px;
        }
      }
      .slogan {
        width: 50%;
        padding-left: 50px;
        text-align: left;
        line-height: 3.5rem;
        @include media-breakpoint-down(xs) {
          width: 100%;
          order: 3;
        }
      }
    }
    &.bottom {
      .slogan {
        padding-left: 30px;
        padding-right: 50px;
      }
    }
  }
  .photo {
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(md) {
      margin-top: -170px;
    }
    .pic {
      width: 50%;
      height: 600px;
      height: 30vw;
      @include media-breakpoint-down(xs) {
        transform: none;
        transition: opacity 1s;
      }
      &:nth-of-type(2) {
        position: absolute;
        right: 0;
        top: 170px;
        @include media-breakpoint-down(md) {
          top: 0;
        }
      }
    }
  }
  &.show {
    .button {
      animation: fadeInUp 1s;
    }
  }
}

.client {
  padding: 100px 0;
  position: relative;
  z-index: 2;
  text-align: center;
  background-color: #151515;
  @include media-breakpoint-down(lg) {
    padding: 50px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }

  ul.slider {
    padding: 0 50px;
    @include media-breakpoint-down(sm) {
      padding: 0 30px;
      .slick-prev {
        left: -15px;
      }
      .slick-next {
        right: -15px;
      }
    }
    .slick-slide {
      div {
        li {
          display: table !important;
        }
      }
    }
    .logo {
      display: table-cell;
      vertical-align: middle;
      height: 150px;
      padding: 20px;
      @include media-breakpoint-down(sm) {
        height: 100px;
        padding: 10px;
      }
      img {
        margin: auto;
        max-height: 100px;
        opacity: 0.5;
        transition: opacity 0.5s;
      }
      &:hover {
        img {
          opacity: 1;
        }
      }
    }
  }
}

.table-box {
  display: table;
  width: 100%;
  .table-tr {
    display: table-row;
  }
  .table-td {
    display: table-cell;
    vertical-align: middle;
  }
}