
/* ==========================================================================
    service
 ==========================================================================*/

.service {
  position: relative;
  color: #fff;
  overflow: hidden;
  .bg-pic {
    @include media-breakpoint-down(sm) {
      position: relative;
    }
    .pic {
      width: 100%;
      position: absolute;
      z-index: 1;
      @include media-breakpoint-down(lg) {
        width: 50%;
      }
      @include media-breakpoint-down(sm) {
        width: 40%;
      }
    }
  }
  .text {
    display: table;
    width: 50%;
    max-width: 670px;
    position: relative;
    z-index: 3;
    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: none;
    }
    .middle {
      height: 900px;
      height: 47vw;
      min-height: 500px;
      padding: 100px 0;
      @include media-breakpoint-down(sm) {
        height: auto;
        min-height: 0;
        padding: 50px 0;
      }
    }
    .eng2 {
      opacity: 0.5;
      color: #eee;
    }
    .title {
      margin: 10px 0 20px 0;
      font-weight: bold;
      @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
      }
    }
    .summary {
      line-height: 1.8em;
      @include media-breakpoint-up(sm) {
        transition-delay: 0.3s;
      }
      @include media-breakpoint-down(sm) {
        line-height: 1.5em;
      }
    }
    .button {
      margin-top: 50px;
      @include media-breakpoint-up(sm) {
        transition-delay: 0.6s;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 30px;
      }
    }
  }
  &.web {
    background: rgb(68, 53, 53);
    background: -moz-radial-gradient(center, ellipse cover, rgba(68, 53, 53, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(68, 53, 53, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(68, 53, 53, 1) 0%, rgba(0, 0, 0, 1) 100%);
    &:before {
      @include media-breakpoint-up(sm) {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        background-color: #1b1515;
        opacity: 0.75;
      }
    }
    .bg-pic {
      @include media-breakpoint-down(sm) {
        padding: 100px 30px 0 30px;
      }
      .pic {
        &.one {
          left: 13%;
          top: -30px;
          @include media-breakpoint-down(sm) {
            position: relative;
            left: 0;
            top: 0;
          }
        }
        &.two {
          left: 29%;
          top: 40px;
          @include media-breakpoint-down(sm) {
            left: 25%;
            top: 100px;
          }
        }
        &.three {
          left: 42%;
          top: 80px;
          @include media-breakpoint-down(sm) {
            top: 110px;
            left: 40%;
          }
        }
        &.four {
          left: 52%;
          top: 80px;
          @include media-breakpoint-down(sm) {
            left: auto;
            right: 30px;
            top: 110px;
          }
        }
      }
    }
    .text {
      .middle {
        padding: 150px 0 100px 0;
        @include media-breakpoint-down(sm) {
          padding: 50px 0;
        }
      }
    }
  }
  &.user {
    background: rgb(3, 16, 57);
    background: -moz-radial-gradient(center, ellipse cover, rgba(3, 16, 57, 1) 25%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(3, 16, 57, 1) 25%, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(3, 16, 57, 1) 25%, rgba(0, 0, 0, 1) 100%);
    &:before {
      @include media-breakpoint-up(sm) {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        background-color: #000;
        opacity: 0.1;
      }
    }
    .bg-pic {
      @include media-breakpoint-down(sm) {
        margin-bottom: -30px;
        padding: 100px 30px 0 30px;
      }
      .pic {
        &.one {
          left: 3%;
          top: 27%;
          @include media-breakpoint-down(sm) {
            width: 65%;
            position: relative;
            left: 0;
            top: 0;
          }
        }
        &.two {
          left: 21%;
          top: 26%;
          @include media-breakpoint-down(sm) {
            width: 55%;
            left: 29%;
            top: 34%;
          }
        }
        &.three {
          left: 28%;
          top: 12%;
          @include media-breakpoint-down(sm) {
            width: 55%;
            left: auto;
            right: 30px;
            top: 50px;
          }
        }
      }
    }
    .text {
      margin-left: auto;
    }
  }
  &.photography,
  &.plan {
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      background-color: #000;
      opacity: 0.4;
    }
    .bg-pic {
      position: absolute;
      z-index: 1;
      overflow: hidden;
      .move {
        width: 100%;
        height: 110%;
        @include media-breakpoint-down(sm) {
          height: 100%;
        }
      }
    }
  }
  &.plan {
    .text {
      margin-left: auto;
    }
  }
}