
/* ==========================================================================
    projects
 ==========================================================================*/

.prevNext {
  position: relative;
  z-index: 4;
  a {
    display: block;
    width: 150px;
    height: 100px;
    margin-top: -50px;
    position: fixed;
    top: 50%;
    .min-md-size &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #000;
      opacity: 0.5;
      transition: background 0.5s;
    }
    @include media-breakpoint-down(md) {
      width: 45px;
      height: 60px;
      background: #B4B4B4 center no-repeat;
      background-size: 12px;
    }
    @include media-breakpoint-down(sm) {
      width: 35px;
      height: 40px;
      margin-top: -20px;
    }
    span {
      display: block;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .pic {
      height: 100%;
    }
    .text {
      width: 100%;
      padding: 15px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      font-size: 18px;
      line-height: 1.5em;
      text-align: center;
    }
    &.prev {
      left: 0;
      @include media-breakpoint-down(md) {
        background-image: url("../images/slick-prev.png");
      }
    }
    &.next {
      right: 0;
      @include media-breakpoint-down(md) {
        background-image: url("../images/slick-next.png");
      }
    }
    &:hover {
      &:before {
        background-color: $red;
      }
    }
  }
}

ul.tabs {
  &>li {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding-bottom: 5px;
    position: relative;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    @include media-breakpoint-down(md) {
      margin: 6px 5px;
      padding: 5px 15px;
      border-radius: 5px;
      background-color: #eee;
    }
    @include media-breakpoint-down(xs) {
      width: -moz-calc(50% - 15px);
      width: -webkit-calc(50% - 15px);
      width: calc(50% - 15px);
    }
    &:before {
      content: '';
      display: block;
      width: 0%;
      height: 1px;
      position: absolute;
      left: 50%;
      bottom: 0;
      background-color: $red;
      opacity: 0;
      transition: width 0.5s, opacity 0.5s, left 0.5s;
      @include media-breakpoint-down(xs) {
        content: normal;
      }
    }
    &:hover {
      color: $red;
      &:before {
        width: 100%;
        left: 0;
        opacity: 1;
      }
    }
    &.active {
      color: $red;
      @include media-breakpoint-down(md) {
        background-color: $red;
        color: #fff;
      }
    }
  }
}

#projects {
  .slogan-info {
    .container {
      text-align: center;
      .middle {
        height: auto;
        padding-top: 200px;
        @include media-breakpoint-down(md) {
          padding-top: 150px;
          padding-bottom: 50px;
        }
        @include media-breakpoint-down(sm) {
          padding-top: 100px;
          padding-bottom: 30px;
        }
      }
    }
    .cn {
      @include media-breakpoint-down(sm) {
        margin-top: 10px;
      }
    }
    ul.tabs {
      margin-top: 100px;
      @include media-breakpoint-down(md) {
        margin-top: 50px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 30px;
      }
    }
  }
}

.in-banner {
  position: relative;
  background-color: #000;
  color: #fff;
  .bg {
    z-index: 1;
    opacity: 0.6;
    overflow: hidden;
    .move {
      height: 120%;
    }
  }
  .container {
    display: table;
    width: 100%;
    position: relative;
    z-index: 2;

  }
  .middle {
    height: 47vw;
    vertical-align: bottom;
    padding: 150px 0;
    @media (max-width: 1440px){
      padding: 200px 0 100px 0 ;
    }
    @include media-breakpoint-down(md) {
      padding-bottom: 50px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 100px;
    }
  }
  .title {
    font-weight: bold;
  }
  .text {
    max-width: 760px;
    margin: 30px 0;
    line-height: 1.8em;
    transition-delay: 0.3s;
    @include media-breakpoint-up(md) {
      min-height: 200px;
    }
    @include media-breakpoint-down(sm) {
      margin: 20px 0;
      line-height: 1.5em;
    }
  }
  .bottom {
    padding-right: 120px;
    position: relative;
    transition-delay: 0.6s;
    @include media-breakpoint-down(xs) {
      padding-right: 0;
    }
    .wiew {
      display: inline-block;
      padding: 5px 10px;
      position: absolute;
      right: 0;
      bottom: 0;
      color: #fff;
      text-align: center;
      transition: background-color 0.5s;
      @include media-breakpoint-down(xs) {
        margin-top: 20px;
        padding: 0;
        position: relative;
      }
      &:after {
        content: url("../images/icon-link.png");
        padding-left: 10px;
      }
      .min-md-size &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  .goDown {
    width: 45px;
    height: 45px;
    margin-left: -22.5px;
    position: absolute;
    left: 50%;
    bottom: -22.5px;
    z-index: 5;
    border-radius: 50%;
    background: $red url("../images/goDown.png") center no-repeat;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
      background-color: red;
    }
  }
}

.scroll-here {
  width: 1px;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  @include media-breakpoint-down(md) {
    top: -90px;
  }
  @include media-breakpoint-down(sm) {
    top: -70px;
  }
}

.project-mac {
  margin-bottom: -100px;
  padding: 100px 0;
  position: relative;
  z-index: 2;
  text-align: center;
  @include media-breakpoint-down(lg) {
    padding-bottom: 0;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 50px;
  }
  @include media-breakpoint-down(xs) {
    margin-bottom: -30px;
  }
  .share {
    display: table;
    margin: 30px auto;
    a {
      display: inline-block;
      vertical-align: middle;
      margin: 10px;
      font-size: 30px;
      transition: transform 0.5s;
      &.to-facebook {
        color: #3B5999;
      }
      &.to-twitter {
        color: #1CA1F2;
      }
      &.to-google {
        color: #DB4F40;
      }
      &.to-line {
        color: #00C200;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .block {
    padding: 0 50px;
    position: relative;
    @include media-breakpoint-down(md) {
      padding: 0 30px;
    }
    .mac {
      width: 1216px;
      height: 1046px;
      margin: auto;
      position: relative;
      background: url("../images/projects/mac.png") center no-repeat;
      background-size: contain;
      @include media-breakpoint-down(lg) {
        width: 1000px;
        height: 860px;
      }
      @include media-breakpoint-down(lg) {
        width: 800px;
        height: 690px;
      }
      @include media-breakpoint-down(md) {
        width: 670px;
        height: 570px;
      }
      @include media-breakpoint-down(sm) {
        width: 420px;
        height: 360px;
      }
      @include media-breakpoint-down(xs) {
        width: 300px;
        height: 260px;
      }
      .max-ss-size & {
        width: 260px;
        height: 230px;
      }
      .slider {
        width: 1110px;
        height: 695px;
        position: absolute;
        left: 50%;
        top: 50px;
        overflow: hidden;
        transform: translateX(-50%);
        @include media-breakpoint-down(lg) {
          width: 920px;
          height: 575px;
          top: 42px;
        }
        @include media-breakpoint-down(lg) {
          width: 735px;
          height: 460px;
          top: 35px;
        }
        @include media-breakpoint-down(md) {
          width: 605px;
          height: 380px;
          top: 28px;
        }
        @include media-breakpoint-down(sm) {
          width: 385px;
          height: 240px;
          top: 18px;
        }
        @include media-breakpoint-down(xs) {
          width: 275px;
          height: 173px;
          top: 13px;
        }
        .max-ss-size & {
          width: 240px;
          height: 150px;
        }
        img {
          width: 100%;
        }
      }
    }
    .slick-arrow {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #B4B4B4;
      background-size: 12px;
      opacity: 1;
      z-index: 5;
      transition: background-color 0.5s;
      &:hover {
        background-color: #7c7c7c;
      }
    }
    .slick-prev {
      left: 90px;
      .max-bl-size & {
        left: -22.5px;
      }
    }
    .slick-next {
      right: 90px;
      .max-bl-size & {
        right: -22.5px;
      }
    }
  }
}

.project-index {
  padding: 150px 0 100px 0;
  position: relative;
  z-index: 1;
  background-color: #EDEFF1;
  text-align: center;

  @include media-breakpoint-down(md) {
    padding-bottom: 50px;
  }
  @include media-breakpoint-down(xs) {
    padding-top: 50px;
  }
  .container {
    @include media-breakpoint-up(md) {
      padding: 0 50px;
    }
  }
}

.project-page {
  padding: 100px 0;
  text-align: center;
  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }
  .container {
    //display: table;
    //width: auto;
    //max-width: 1060px;
    //padding: 0;
  }
  .pic {
    display: inline-block;
    vertical-align: top;
    max-width: 600px;
    width: -moz-calc(50% - 10px);
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s, transform 1s, box-shadow 0.5s;
    @include media-breakpoint-down(sm) {
      width: -moz-calc(50% - 5px);
      width: -webkit-calc(50% - 5px);
      width: calc(50% - 5px);
    }
    img {
      display: block;
      width: 100%;
    }
    &:nth-of-type(2n-1) {
      margin-bottom: 50px;
      margin-right: -60px;
      transform: translateX(-100px);
      @include media-breakpoint-down(sm) {
        margin-right: -30px;
      }
    }
    &:nth-of-type(2n) {
      margin-top: 100px;
      transform: translateX(100px);
      @include media-breakpoint-down(xs) {
        margin-top: 50px;
      }
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &.show {
      transform: translateX(0);
      opacity: 1;
    }
    &.active {
      z-index: 2;
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    }
  }
}

.project-phone {
  padding: 150px 0;
  background: rgb(85, 85, 85);
  background: -moz-radial-gradient(center, ellipse cover, rgba(85, 85, 85, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(85, 85, 85, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(85, 85, 85, 1) 0%, rgba(0, 0, 0, 1) 100%);
  text-align: center;
  @include media-breakpoint-down(lg) {
    padding: 50px 0;
  }
  .container {
    padding: 0;
  }
  .phone {
    display: inline-block;
    vertical-align: middle;
    //width: 291px;
    //: 597px;
    width: 364px;
    height: 748px;
    margin: 30px;
    padding: 0 22px;
    position: relative;
    background: url("../images/projects/phone.png") center no-repeat;
    background-size: contain;
    @include media-breakpoint-down(bg) {
      width: 270px;
      height: 550px;
      padding: 0 15px;
    }
    @include media-breakpoint-down(md) {
      width: 205px;
      height: 415px;
      margin: 10px;

    }

    .pic {
      width: 100%;
      height: 567px;
      margin: 88px auto 0 auto; // position: absolute;
      // left: 50%;
      // top: 65px;
      // transform: translateX(-50%);
      border-radius: 3px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
      &:nth-of-type(3n-1) {
        transition-delay: 0.3s;
      }
      @include media-breakpoint-down(bg) {
        height: 420px;
        margin: 63px auto 0 auto;
      }
      @include media-breakpoint-down(md) {
        height: 318px;
        margin-top: 46px;
      }

    }
  }
}

.project-pad {
  padding: 150px 0 100px 0;
  background-color: #EDEFF1;
  text-align: center;
  @include media-breakpoint-down(lg) {
    padding: 100px 0 50px 0;
  }
  @include media-breakpoint-down(md) {
    padding: 50px 0 20px 0;
  }
  .container {
    display: table;
    width: auto;
    padding: 0;
  }
  .pad {
    display: inline-block;
    vertical-align: top;
    width: 975px;
    height: 690px;
    position: relative;
    background: center no-repeat;
    background-size: contain;
    @include media-breakpoint-down(lg) {
      width: 800px;
      height: 570px;
    }
    @include media-breakpoint-down(lg) {
      width: 660px;
      height: 470px;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      height: 70vw;
    } // @include media-breakpoint-down(sm) {
    //     height: 345px;
    // }
    // @include media-breakpoint-down(xs) {
    //     height: 240px;
    // }
    // .max-ss-size & {
    //     height: 200px;
    // }
    &.black {
      margin-right: -45%;
      background-image: url("../images/projects/pad-black.png");
      @include media-breakpoint-down(md) {
        margin-right: 0;
      }
    }
    &.white {
      margin-top: 250px;
      background-image: url("../images/projects/pad-white.png");
      @include media-breakpoint-down(lg) {
        margin-top: 150px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 0;
      }
    }
    .pic {
      width: 742px;
      height: 552px;
      margin: 38px auto 0 auto;
      left: -5px; // position: absolute;
      // left: 50%;
      // top: 38px;
      // transform: translateX(-50%);
      border-radius: 3px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
      @include media-breakpoint-down(lg) {
        width: 610px;
        height: 452px;
        margin-top: 32px;
      }
      @include media-breakpoint-down(lg) {
        width: 504px;
        height: 375px;
        margin-top: 27px;
      }
      @include media-breakpoint-down(md) {
        width: 75vw;
        height: 56.5vw;
        margin-top: 3.5vw;
      } // @include media-breakpoint-down(sm) {
      //     height: 272px;
      //     margin-top: 21px;
      // }
      // @include media-breakpoint-down(xs) {
      //     height: 193px;
      //     margin-top: 13px;
      // }
      // .max-ss-size & {
      //     height: 161px;
      //     margin-top: 10px;
      // }
    }
  }
}
.work{
  ul.list {
    li{
      width:25%;
      float: left;
      @include media-breakpoint-down(lg) {
        width:33.3%;
      }
      @include media-breakpoint-down(md) {
        width:50%;
      }
    }
    .box {
      position:relative;
      overflow:hidden;
      display: block;
    }
    .box:after {
      padding-top: 66.6%;//66.6%
      content:"";
      display: block;
    }
    .img {
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      left:0;
      max-width:100%;
      margin:auto;
    }
    .text{
      padding: 15px;
    }
    .name{
      font-size:$font-size-base;
      color:#000;
      margin:0 0 10px 0;
      @include media-breakpoint-down(md) {
        font-size: 13px;
      }
    }
    .summary{
      font-size: $font-size-sm;
      line-height: 0.5rem;
      @include media-breakpoint-down(md) {

      }
    }
  }
}
.work2 {
  position: relative;
  z-index: 4;
  padding: 0;
  ul.list {
    width: 100%;
    @include media-breakpoint-down(md) {
      display: inline-flex;
      align-content: stretch;
      flex-wrap: wrap;
    }
    &>li {
      float: left;
      width:25%;
      opacity: 0;
      padding:0px;
      transform: scale(0.8);
      transition: opacity 1s, transform 1s;


      @include media-breakpoint-down(bg) {
        width:33.3%;
      }
      @include media-breakpoint-down(md) {
        display: flex;
      }
      @include media-breakpoint-down(xs) {
        width: 100%;
      }
      &.show {
        transform: scale(1);
        opacity: 1;
      }
      .name {
        margin: 15px 0 0 0 ;
        font-size: 17px;
        color:#000;
        @include media-breakpoint-up(md) {
          transition: transform 0.5s;
        }
      }
      .summary {
        margin-top: 20px;
        line-height: 1.8em;
        font-size: 13px;
        @include media-breakpoint-up(md) {
          transform: translateY(-20px);
          transition: transform 0.5s;
        }
        @include media-breakpoint-down(lg) {
          min-height: 0;
          margin-top: 10px;
        }
      }
      .box {
        display: block;
        width: 100%;
        position: relative;
        background: rgba(0, 0, 0, 0.8) url("../images/logo.png") center no-repeat;
        background-size: 200px;
        &:before,
        &:after {
          @include media-breakpoint-up(md) {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            position: absolute;
            background-color: $red;
            z-index: 2;
            opacity: 0;
            transition: all 0.8s;
          }
        }
        &:before {
          left: 0;
          top: 0;
        }
        &:after {
          right: 0;
          bottom: 0;
        }
        @include media-breakpoint-down(md) {
          background-color: rgba(0, 0, 0, 0.8);
        }
        span {
          display: block;
        }

        .box-line {
          &:before,
          &:after {
            @include media-breakpoint-up(md) {
              content: '';
              display: block;
              width: 3px;
              height: 0;
              position: absolute;
              background-color: $red;
              z-index: 2;
              opacity: 0;
              transition: all 0.8s;
            }
          }
          &:before {
            left: 0;
            top: 0;
          }
          &:after {
            right: 0;
            bottom: 0;
          }
        }
        .pic {
          //height: 300px;
          height: auto;
          &:before {
            @include media-breakpoint-up(md) {
              content: '';
              display: block;
              width: 100%;
              height:100%;
              position: absolute;
              left: 0;
              top: 0;
              z-index: 1;
              background: #000;
              opacity: 0.2;
              transition: all 0.5s 0.3s;
            }
          }
        }

        .text {
          width: 100%;
          color: #fff;
          padding: 20px 10px;
          text-align: center;
          @include media-breakpoint-up(md) {
            max-height: 25vw;
            position: absolute;
            left: 0;
            top: 50%;
            bottom: auto;
            z-index: 3;
            transform: translateY(-50%);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s, visibility 0.5s;
            overflow: auto;
          }



          .btn {
            display: inline-block;
            vertical-align: middle;
            width: 70px;
            height: 70px;
            margin-top: 20px;
            position: relative;
            border: 1px solid $red;
            transition: background 0.5s, transform 0.5s;
            overflow: hidden;
            font-size: 35px;
            line-height: 68px;

            @include media-breakpoint-up(md) {
              transform: translateY(20px);
            }
            @include media-breakpoint-down(lg) {
              width: 50px;
              height: 50px;
              line-height: 48px;
            }
            &:after {
              content: "";
              background: #fff;
              height: 300%;
              left: -100px;
              opacity: .2;
              position: absolute;
              top: -100%;
              transform: rotate(35deg);
              transition: left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
              width: 50px;
              z-index: 10;
            }
            &:hover {
              background-color: $red;
              &:after {
                left: 150%;
                transition: left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
              }
            }
          }
        }
        &:hover {
          @include media-breakpoint-up(md) {

            .pic {
              &:before {
                height: 100%;
                top: 0;
                opacity: 0;
                transition: all 0.5s;
              }
            }
            .text {
              opacity: 1;
              visibility: visible;
              transition-delay: 0.4s;
              .name {
                transform: translateY(0);
                transition-delay: 0.4s;
              }
              .summary {
                transform: translateY(0);
                transition-delay: 0.3s;
              }
              .btn {
                display: none;
                transform: translateY(0);
                transition: background 0.5s, transform 0.5s 0.5s;
              }
            }
          }

          &:before,
          &:after {
            width: 100%;
            opacity: 1;
            transition: all 0.6s 0.6s;
          }
          .box-line {
            &:before,
            &:after {
              height: 100%;
              opacity: 1;
              transition: all 0.6s 0.6s;
            }
          }
        }
      }
      //@include media-breakpoint-up(md) {
      //  &:nth-of-type(10n-9),
      //  &:nth-of-type(10n-8),
      //  &:nth-of-type(10n-4),
      //  &:nth-of-type(10n) {
      //    .pic {
      //      background-position: 50% 40% !important;
      //    }
      //  }
      //  &:nth-of-type(10n-8),
      //  &:nth-of-type(10n-6),
      //  &:nth-of-type(10n-1) {
      //    transition-delay: 0.3s;
      //  }
      //  &:nth-of-type(10n-7),
      //  &:nth-of-type(10n-6),
      //  &:nth-of-type(10n-2),
      //  &:nth-of-type(10n-1) {
      //    width: 25%;
      //  }
      //  &:nth-of-type(10n-5) {
      //    float: right;
      //    .text {
      //      max-height: 50vw;
      //    }
      //    .box {
      //      .pic {
      //        height: 960px;
      //        height: 50vw;
      //        min-height: 600px;
      //      }
      //    }
      //  }
      //  &:nth-of-type(10n-3) {
      //    .text {
      //      max-height: 50vw;
      //    }
      //    .box {
      //      .pic {
      //        height: 960px;
      //        height: 50vw;
      //        min-height: 600px;
      //      }
      //    }
      //  }
      //}
    }
  }
}

/* hover-animation */

.animated-left {
  @include media-breakpoint-up(xs) {
    animation: animatedLeft 3s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite alternate;
  }
  @include media-breakpoint-down(xs) {
    background-position: right center !important;
  }
}

@-webkit-keyframes animatedLeft {
  0% {
    background-position: 100% center;
  }
  60% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

@keyframes animatedLeft {
  0% {
    background-position: 100% center;
  }
  60% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

.animated-right {
  @include media-breakpoint-up(xs) {
    animation: animatedRight 3s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite alternate;
  }
  @include media-breakpoint-down(xs) {
    background-position: left center !important;
  }
}

@-webkit-keyframes animatedRight {
  0% {
    background-position: 0% center;
  }
  60% {
    background-position: 100% center;
  }
  100% {
    background-position: 100% center;
  }
}

@keyframes animatedRight {
  0% {
    background-position: 0% center;
  }
  60% {
    background-position: 100% center;
  }
  100% {
    background-position: 100% center;
  }
}

.animated-up {
  @include media-breakpoint-up(xs) {
    animation: animatedUp 12s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite alternate;
  }
  @include media-breakpoint-down(xs) {
    background-position: bottom center !important;
  }
}

@-webkit-keyframes animatedUp {
  0% {
    background-position: center 100%;
  }
  20% {
    background-position: center 100%;
  }
  95% {
    background-position: center 0%;
  }
  100% {
    background-position: center 0%;
  }
}

@keyframes animatedUp {
  0% {
    background-position: center 100%;
  }
  20% {
    background-position: center 100%;
  }
  95% {
    background-position: center 0%;
  }
  100% {
    background-position: center 0%;
  }
}

.animated-down {
  @include media-breakpoint-up(xs) {
    animation: animatedDown 12s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite alternate;
  }
  @include media-breakpoint-down(xs) {
    background-position: top center !important;
  }
}

@-webkit-keyframes animatedDown {
  0% {
    background-position: center 0%;
  }
  20% {
    background-position: center 0%;
  }
  95% {
    background-position: center 100%;
  }
  100% {
    background-position: center 100%;
  }
}

@keyframes animatedDown {
  0% {
    background-position: center 0%;
  }
  20% {
    background-position: center 0%;
  }
  95% {
    background-position: center 100%;
  }
  100% {
    background-position: center 100%;
  }
}
